<a id="home" href="/main">Home</a>
<a id="logout" href="/logout">Logout</a>

<hr>

<h3>Name: @ViewBag.User.name</h3>
<h3>Alias: @ViewBag.User.alias</h3>
<h3>Email: @ViewBag.User.email</h3>

<hr>

<h4>Total Number of Posts: @ViewBag.PostCount</h4>
<h4>Total Number of Likes: @ViewBag.LikeCount</h4>